page-home {


    .buttonInAccordion {
        background-color: #7d13cb;
        color: #f9ffff;
        cursor: pointer;
        padding: 18px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 22px;
        font-weight: bold;
        transition: 0.4s;
        margin-bottom:15px;
    }

    .divItem
    {
        color: #7d13cb;
        background-color: #f9ffff;
        border: none;
        outline: none;
        font-size: 22px;
        font-weight: bold;
        transition: 0.4s;
        width:100%;
        text-align: center;
        align-content: center;
        margin-bottom:25px;
    }

    .dateTitle
    {
        color: #42109e;
        font-size: 20px;
        font-weight: bolder;
        margin: 15px;
        text-align: center;
        width: 100%;
        margin-bottom:20px;
        
    }
    
    .content
    {
        font-size:30px;
    }


    ion-icon {
        display: inline-block;
        font-size: 1.2em;
        color: #7d13cb;
    }

    .zhuiot
    {
     margin-top:30px;
     text-align: center;
    }
    

}
