<ion-content padding class="content">

    <div class='dateTitle'>
    {{getTodayDate()}}
    
    </div>


    
    <div class="divItem">
            <span> Day #</span>
            <select [(ngModel)]="selectedDayInMonth">
                <option *ngFor="let day of counter(30),let dayNum=index" [selected]="dayNum==(todayDayInMonth-1)">{{dayNum+1}}</option>
            </select>
            <span>
                    in the month
            </span>  
            <button class="buttonInAccordion" ion-button (click)="goToTehilimDayMonth()">Go </button>
        
        </div>

    <div class="divItem">
        <span> Day #</span>
        <select [(ngModel)]="selectedDayInWeek">
            <option *ngFor="let day of counter(7),let dayNum=index" [selected]="dayNum==(todayDayInWeek-1)">{{dayNum+1}}</option>
        </select>
        <span>
                in the week
        </span>  
        <button class="buttonInAccordion" ion-button (click)="goToTehilimDayWeek()">Go </button>
    
    </div>
    <div class="divItem">
            <span> Book #</span>
            <select [(ngModel)]="selectedBook">
                <option *ngFor="let book of counter(5),let bookNum=index" [selected]="bookNum==(selectedBook-1)">{{bookNum+1}}</option>
            </select>
            
            <button class="buttonInAccordion" ion-button (click)="goToTehilimBook()">Go </button>
        
    </div>

    <div class="divItem">
    <button class="buttonInAccordion" ion-button (click)="goToTikunHaklali()"> Tikun Haklali</button>
    </div>
    <div class="divItem">
    <button class="buttonInAccordion" ion-button (click)="goToFavorites()"> Favorites</button>
   
    <ion-icon (click)="presentPopoverFavorites($event)" name="settings"></ion-icon>
    </div>

    <div class="divItem">
    <button class="buttonInAccordion" ion-button (click)="goToAllTehilim()"> All Tehilim</button>
</div>

<div class="zhuiot" >
        <a href="#" (click)="goToZhuiot()"> Copyright</a>
    </div>

</ion-content>