page-settings {



    .name
    {
        color: #7d13cb;
        background-color: #e1ffff;
        border: none;
        outline: none;
        font-size: 22px;
        font-weight: bold;
        transition: 0.4s;
        width:100%;
        text-align: center;
        align-content: center;
        margin-bottom:15px;
       
    }

    .pirushBlock
    {
        margin-bottom:40px;
    }

}
