.historyButton {
  --background: #62ccec;
  --color: #f9ffff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.historyIcon {
  padding-right: 3px;
}

.buttonInAccordion {
  --background: #7d13cb;
  --color: #f9ffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.divItem {
  color: #7d13cb;
  background-color: #f9ffff;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  align-content: center;
  margin-bottom: 25px;
}

.dateTitle {
  color: #42109e;
  font-size: 20px;
  font-weight: bolder;
  margin: 15px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.content {
  font-size: 30px;
}

ion-icon {
  display: inline-block;
  font-size: 1.2em;
  color: #7d13cb;
  cursor: pointer;
}

.zhuiot {
  margin-top: 30px;
  text-align: center;
}
