<ion-content class="ion-padding content">
  <div class="dateTitle">
    {{ getTodayDate() }}
  </div>

  <div class="divItem">
    <span>Day #</span>
    <select [(ngModel)]="selectedDayInMonth">
      <option *ngFor="let day of counter(30); let dayNum = index" [value]="dayNum + 1" [selected]="dayNum === (todayDayInMonth - 1)">{{ dayNum + 1 }}</option>
    </select>
    <span>in the month</span>
    <ion-button class="buttonInAccordion" (click)="goToTehilimDayMonth()">Go</ion-button>
  </div>

  <div class="divItem">
    <span>Day #</span>
    <select [(ngModel)]="selectedDayInWeek">
      <option *ngFor="let day of counter(7); let dayNum = index" [value]="dayNum + 1" [selected]="dayNum === (todayDayInWeek - 1)">{{ dayNum + 1 }}</option>
    </select>
    <span>in the week</span>
    <ion-button class="buttonInAccordion" (click)="goToTehilimDayWeek()">Go</ion-button>
  </div>

  <div class="divItem">
    <span>Book #</span>
    <select [(ngModel)]="selectedBook">
      <option *ngFor="let book of counter(5); let bookNum = index" [value]="bookNum + 1" [selected]="bookNum === (selectedBook - 1)">{{ bookNum + 1 }}</option>
    </select>
    <ion-button class="buttonInAccordion" (click)="goToTehilimBook()">Go</ion-button>
  </div>

  <div class="divItem">
    <ion-button class="buttonInAccordion" (click)="goToTikunHaklali()">Tikun Haklali</ion-button>
  </div>

  <div class="divItem">
    <ion-button class="buttonInAccordion" (click)="goToFavorites()">Favorites</ion-button>
    <ion-icon name="settings-outline" (click)="presentPopoverFavorites($event)"></ion-icon>
  </div>

  <div class="divItem">
    <ion-button class="buttonInAccordion" (click)="goToAllTehilim()">All Tehilim</ion-button>
  </div>

  <div class="divItem">
    <ion-button class="historyButton" (click)="goToHistory()">
      <ion-icon name="time-outline" class="historyIcon"></ion-icon> Read History
    </ion-button>
  </div>

  <div class="zhuiot">
    <a href="#" (click)="goToZhuiot(); $event.preventDefault()">Copyright</a>
  </div>
</ion-content>
