.name {
  color: #7d13cb;
  background-color: #e1ffff;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  align-content: center;
  margin-bottom: 15px;
}

.pirushBlock {
  margin-bottom: 40px;
}
